@use '../styles/_variables' as *;



body{
  display: flex;
  flex-direction: column;

  header{
    top: 0;
    position: fixed ;
    background-image: url('../assets/header-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 7.75rem;
    width: 100%;
    z-index: 2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    h1{
      text-align: center;
      margin-top: 2.5rem;
      // color: #fff;
      font-size: 2.5rem;
      font-family: $headerfont;
    }
  }

  main{
    margin-top: 10rem;
    justify-content: center;

  }
}

@media (max-width: 768px) {
  h1{
    font-size: 2.125rem !important;
  }
}
