<section>
  <div>
    <a [routerLink]="['/']">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000" >
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
      </svg>
    </a>
    @if(post$ | async; as post){
      <div class="detail-div">
        <h1>{{ post.title }}</h1>
        <p>{{ post.body }}</p>
      </div>
    } @else {
      <div>
        <p>Loading post details...</p>
      </div>
    }
    <app-detail-settings/>
  </div>
</section>
