@use '@angular/material' as mat;
@use './styles/_variables' as *;
@include mat.core();

*{
  width: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  font-family: $bodyfont;
  background-color: $bg-color;
}
