@use '@angular/material' as mat;
@use './styles/_variables' as *;
@use './styles/_mixins' as *;
@include mat.core();



html, body {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  font-family: $bodyfont;
  background-color: $bg-color;
}
