@use '../../../styles/_mixins' as *;
@use '../../../styles/_variables' as *;

.detail-settings {
  display: flex;
  flex-direction: column;

  #delete-btn{
    @include button-styles(#fff, #000, $border-color, #fff);
    position: fixed;
    right: 10%;
    left: 85%;
    top: 20%;
    align-self: flex-end;
  }

  #edit-btn{
    @include button-styles(#fff, #000, $border-color, #fff); // Reusable button styling
    position: fixed;
    right: 10%;
    left: 85%;
    align-self: flex-end;
  }
}


:host ::ng-deep {
  .p-dialog {
    .p-dialog-header {
      background-color: #FF6B6B;
      color: #ffffff;
    }

    .p-dialog-content {
      padding: 2rem;
    }

    .p-dialog-footer {
      padding: 1rem 1.5rem;
      text-align: right;

      button {
        margin-left: 0.5rem;
      }
    }
  }
}


@media (max-width: 768px) {
  .detail-settings{
    #delete-btn{
      top: 25%;
    }
  }
}
